// Rubberband for select-area screenshots
.select-area-rubberband {
  background-color: transparentize($selected_bg_color,0.7);
  border: 1px solid $selected_bg_color;
}

// User icon
.user-icon {
  background-size: contain;
  color: $osd_fg_color;
  border-radius: $forced_circular_radius;
  icon-size: $base_icon_size * 4; // 64px

  & StIcon {
    background-color: transparentize($osd_fg_color,0.95);
    border-radius: $forced_circular_radius;
    padding: $base_padding * 2 ; // 12px
    width: $base_icon_size * 2.5; height:  $base_icon_size * 2.5; // 40px;
  }

  &.user-avatar {
    box-shadow:inset 0 0 0 1px transparentize($osd_fg_color, 0.9);
    @if $is_highcontrast {
      box-shadow:inset 0 0 0 1px $hc_inset_color;
    }
  }
}

.lightbox { background-color: black; }
.flashspot { background-color: white; }

// Hidden
.hidden { color: transparent;}

// Caps-lock warning
.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  @extend %caption;
  color: $warning_color;
}

/* Workspace animation */

.workspace-animation {
  background-color: $system_bg_color;
}

/* Tiled window previews */
.tile-preview {
  background-color: transparentize($selected_bg_color,0.5);
  border: 1px solid $selected_bg_color;
}
